* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --logo-clr: #e5cf00;
  --bg-clr: linear-gradient(-130deg, #0047ff, #5800af);
}

body {
  font-family: 'Poppins', sans-serif;
  background-image: var(--bg-clr);
  min-height: 100vh;
  color: #fff;
}

.hidden {
  display: none;
}

img {
  width: 100%;
}

button {
  font-family: 'Poppins', sans-serif;
}

header .logo {
  margin-top: 20px;
  font-size: 3rem;
  font-style: italic;
  font-weight: 700;
  color: var(--logo-clr);
  text-align: center;
}

.game {
  margin-top: 50px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  width: 75%;
  align-items: center;
  row-gap: 25px;
  background-color: #ffffff44;
  padding: 30px;
  border-radius: 8px;
}

.game img {
  border-radius: 8px;
}

.game__play {
  width: 100%;
  border: 0;
  padding: 1rem;
  font-size: 1.4rem;
  cursor: pointer;
  background-color: transparent;
  font-weight: 700;
}

.time-counter {
  display: flex;
  padding: 15px;
}

.counter {
  position: relative;
  width: 100%;
  padding: 10px;
  border-radius: 100vmax;
  background-color: #ffffff44;
}

.elapsed-time {
  position: absolute;
  width: 0%;
  left: 0;
  top: 0;
  padding: 10px;
  background-color: yellow;
  border-radius: 100vmax;
}

.question {
  margin-inline: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  width: 80%;
  row-gap: 30px;
}

.question__title {
  text-align: center;
}

.question__flag {
  border-radius: 8px;
}

.question__options {
  display: grid;
  row-gap: 10px;
}

.question__option {
  width: 100%;
  background-color: #ffffff44;
  padding: 13px;
  border-radius: 8px;
  border: 0;
  color: #fff;
  text-align: start;
}
